<div ng-controller="ShellController">
    <!-- Aside Start -->
    <aside class="cou-side-nav"  ng-class="{in : 'cou-side-nav1', out : 'cou-side-nav2'}[leftclass]" ng-include="'app/layout/leftnav.html'">
    </aside>
    <!-- Aside End -->
    <section class="content" ng-class="{in : 'content1', out : 'content2'}[leftclass]">
        <header class="container-fluid" ng-include="'app/layout/topnav.html'"></header>
        <div class="container-fluid">
            <div ui-view></div>

        </div>
    </section>

</div>