/*------------------------------------------
Variables & Mixins
-------------------------------------------*/


/* Variables
------------------------------------------*/
/* Colors */
$blue:                        #6e8cd7;
$white:                       #fff;

/* Font sizing */
$font-size-base:              14px;

/* Typeface */
$sans-serif:                  'Source Sans Pro', sans-serif;